﻿@using Newtonsoft.Json
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" data-dismiss="modal" class="close" aria-hidden="true">×</button>
    <div class="pull-right">
        @RenderSection("Header", false)
    </div>
    <h3>@Title</h3>

</div>
@if (Modal.Form)
{
    if (Modal.IsAjax)
    {
        using (Ajax.BeginForm(Modal.Action, Modal.Controller, Modal.Values, new AjaxOptions { HttpMethod = Modal.HttpMethod, Url = Modal.Url, OnSuccess = "ModalAjaxFormCompleted", OnFailure = "ModalAjaxFormFailed" }, Modal.HtmlAttributes))
        {
            <div class="modal-body  @(Modal.Fluid ? "container-fluid" : "")">
                <div class="modal-body-content">
                        @RenderBody()
                </div>
            </div>

            <div class="modal-footer">
                @RenderSection("Footer", false)

                <input type="submit" class="btn @Modal.OkStyle" value="@Modal.OkText" id="modalOkButton" />

                @if (Modal.ShowCancel)
                {
                    <button class="btn @Modal.CancelStyle" data-dismiss="modal">@Modal.CancelText</button>
                }

            </div>
        }
    }
    else
    {
        using (Html.BeginForm(Modal.Action, Modal.Controller, Modal.Values, FormMethod.Post, Modal.HtmlAttributes))
        {
            <div class="modal-body  @(Modal.Fluid ? "container-fluid" : "")">
                <div class="modal-body-content">
                    <div class="well well-sm">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @RenderSection("Footer", false)

                <input type="submit" class="btn @Modal.OkStyle" value="@Modal.OkText" />

                @if (Modal.ShowCancel)
                {
                    <button class="btn @Modal.CancelStyle" data-dismiss="modal">@Modal.CancelText</button>
                }

            </div>
        }
    }
}
else
{
    <div class="modal-body  @(Modal.Fluid ? "container-fluid" : "")">
        <div class="modal-body-content">
            <div class="well well-sm">
                @RenderBody()
            </div>
        </div>

    </div>

    <div class="modal-footer">
        @RenderSection("Footer", false)

        <button class="btn" data-dismiss="modal">Close</button>
    </div>
}

<div id="loader" title="loading" style="display: none;text-align: center; position: absolute; left: 50%; top: 50%;">
    <img src="/images/ajax-loader.gif" style="width: 32px; height: 32px" alt="Loading..." />
</div>

@RenderSection("Scripts", false)

<script type="text/javascript">
    var fadeOutList = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Modal.FadeOutElements))');
    var highlightList = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Modal.HighlightElements))');

    function ModalAjaxFormCompleted(data) {
        if (data.status === "success" && data.message !== "") {
            $('.modal').modal('hide');
        }
        else if (data.status === "error" && data.message !== "") {
            $("#loader").toggle();
        } else {
            $('.modal').modal('hide');
        }

        var onComplete = "@Modal.OnComplete";

        callFunctionByName(onComplete, data);
    }

    function callFunctionByName(name, params) {
        debugger;
        var fn = window[name];
        if (typeof fn === "function") {
            fn(params);
            return true;
        }
        return false;
    };

    function ModalAjaxFormFailed(xhr) {
        showAlert("Dien them thong tin", "info",2000);
    }
</script>

