﻿<!DOCTYPE html>
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html>
<head>
    <title>Agrox a Agriculture Category Flat Bootstrap Responsive Website Template | Home :: w3layouts<</title>
    <!---css--->
    <link href="/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/Content/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/Admin/bootstrap-social.css" rel="stylesheet" />
    <!---css--->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gio Rau Vuon Nha" />
    <!---js--->
    <script src="/Scripts/jquery-1.12.0.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <!---js--->
    <!--JS for animate-->
    <link href="/Content/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!---webfont--->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!---webfont--->
</head>
<body>
    <!---header--->
    <div class="header-section">
        <div class="container">
            <div class="head-bottom">
                <div class="logo  wow fadeInDownBig animated animated" data-wow-delay="0.4s" style="float: left;width: 50%">
                    <h1>
                        <a href="index.html"><img src="/images/logo.png" class="img-responsive" alt=""/></a>
                    </h1>
              
                </div>
                <div class="userSection" style="float: right; margin-top: 1%;">
                    @RenderSection("userlogin", required: false)
                </div>
            </div>
        </div>
    </div>
    <!---header--->
    <!---banner--->
    <div class="banner">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Trang Chủ", "Index", "Home", null, new { data_wow_delay = ".2s", @class = "wow fadeInDownBig" })</li>
                            <li>@Html.ActionLink("Sản Phẩm", "Products", "Home", null, new { data_wow_delay = ".4s", @class = "wow fadeInDownBig" })</li>
                            <li>@Html.ActionLink("Happy Seeds - Thế Giới Của Bé", "About", "Home", null, new { data_wow_delay = ".6s", @class = "wow fadeInDownBig" })</li>
                            <li>@Html.ActionLink("Giới Thiệu", "About", "Home", null, new { data_wow_delay = ".7s", @class = "wow fadeInDownBig" })</li>

                        </ul>
                    </div>
                </div>
            </nav>
            <div class="banner-center">
                <marquee><h3>Best Agricultural farm</h3></marquee>
            </div>

        </div>
    </div>
    <!---banner-->
    <!---welcome-->
    <div class="content">@RenderBody()</div>
    @*   <div class="content">
            <div class="welcome-section">
                <div class="container">
                    <div class="banner-bottom">
                        <div class="banner-grids">
                            <div class="col-md-4 banner-grid wow fadeInLeft animated" data-wow-delay=".5s">
                                <h4>Premium Products</h4>
                                <div class="ban1">
                                    <div class="ban-images  view fourth-effect">
                                        <img src="/images/bap cai 1.jpg" class="img-responsive" alt="" />
                                        <div class="mask"></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, lorem  Consec tetuer adipicing it. Praesebul lorem ipsum.S natoque penatibus et gnis dent monteiculu.</p>
                                    <a href="about.html" class="button hvr-wobble-bottom">more info</a>
                                </div>
                            </div>
                            <div class="col-md-4 banner-grid wow fadeInDownBig" data-wow-delay=".4s">
                                <h4>Agricultural Seeds </h4>
                                <div class="ban1">
                                    <div class="ban-images  view fourth-effect">
                                        <img src="/images/bong cai xanh 1.jpg" class="img-responsive" alt="" />
                                        <div class="mask"></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, lorem  Consec tetuer adipicing it. Praesebul lorem ipsum.S natoque penatibus et gnis dent monteiculu.</p>
                                    <a href="about.html" class="button hvr-wobble-bottom">more info</a>
                                </div>
                            </div>
                            <div class="col-md-4 banner-grid wow fadeInRight animated" data-wow-delay=".5s">
                                <h4>Our Technologies</h4>
                                <div class="ban1">
                                    <div class="ban-images  view fourth-effect">
                                        <img src="/images/bó xôi 2-R1.jpg" class="img-responsive" alt="" />
                                        <div class="mask"></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, lorem  Consec tetuer adipicing it. Praesebul lorem ipsum.S natoque penatibus et gnis dent monteiculu.</p>
                                    <a href="about.html" class="button hvr-wobble-bottom">more info</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <h2>welcome</h2>
                    <div class="welcome-grids">
                        <div class="col-md-3 welcome-grid wow fadeInLeft animated" data-wow-delay=".5s">
                            <div class="welcome-text">
                                <h4>Duis ultricies</h4>
                                <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                            </div>
                            <div class="welcome-icon">
                                <img src="/images/i1.png">
                            </div>
                        </div>
                        <div class="col-md-3 welcome-grid wow fadeInDownBig animated" data-wow-delay=".5s">
                            <div class="welcome-text">
                                <h4>Morbi nunc </h4>
                                <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                            </div>
                            <div class="welcome-icon">
                                <img src="/images/i2.png">
                            </div>
                        </div>
                        <div class="col-md-3 welcome-grid wow fadeInUpBig animated" data-wow-delay=".5s">
                            <div class="welcome-text">
                                <h4>Lorem ipsum</h4>
                                <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                            </div>
                            <div class="welcome-icon">
                                <img src="/images/i3.png">
                            </div>
                        </div>
                        <div class="col-md-3 welcome-grid wow fadeInRight animated" data-wow-delay=".5s">
                            <div class="welcome-text">
                                <h4>Fusce suscip</h4>
                                <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                            </div>
                            <div class="welcome-icon">
                                <img src="/images/i4.png">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!---welcome-->
            <!---product-->
            <div class="product-section">
                <div class="container">
                    <h3>Popular Products</h3>
                    <div class="product-grids">
                        <div class="col-md-6 product-grid wow fadeInLeft animated" data-wow-delay=".5s">
                            <div class="product-left">
                                <img src="/images/bó xôi 1-R1.jpg" class="img-responsive" alt="" />
                            </div>
                            <div class="product-right">
                                <h4>Dolor Sit</h4>
                                <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                                <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 product-grid wow fadeInRight animated" data-wow-delay=".5s">
                            <div class="product-left">
                                <img src="/images/cai thao 1.jpg" class="img-responsive" alt="" />
                            </div>
                            <div class="product-right">
                                <h4>Consequat</h4>
                                <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                                <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="product-grids">
                        <div class="col-md-6 product-grid1 wow fadeInLeft animated" data-wow-delay=".5s">
                            <div class="product1-left">
                                <h4>Dolores Btrs</h4>
                                <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                                <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="product1-right">
                                <img src="/images/bap cai 1.jpg" class="img-responsive" alt="" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 product-grid1 wow fadeInRight animated" data-wow-delay=".5s">
                            <div class="product1-left">
                                <h4>Nam aliquam</h4>
                                <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                                <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="product1-right">
                                <img src="/images/dua le baby 1.jpg" class="img-responsive" alt="" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!---product-->
            <!---news--->
            <div class="news-section">
                <div class="container">
                    <h3>latest news</h3>
                    <div class="news-grids wow fadeInRight animated" data-wow-delay=".5s">
                        <div class="col-md-4 new-grid">
                            <div id="box" class="burst-circle teal">
                                <div class="caption"></div>
                                <img src="/images/n1.jpg" class="img-responsive" />
                                <h4>Agrox</h4>
                            </div>
                        </div>
                        <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                            <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                            <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                            <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="news-grids wow fadeInLeft animated" data-wow-delay=".5s">
                        <div class="col-md-4 new-grid">
                            <div id="box" class="burst-circle teal">
                                <div class="caption"></div>
                                <img src="/images/n2.jpg" class="img-responsive" />
                                <h4>Agrox</h4>
                            </div>
                        </div>
                        <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                            <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                            <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                            <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="news-grids wow fadeInRight animated" data-wow-delay=".5s">
                        <div class="col-md-4 new-grid">
                            <div id="box" class="burst-circle teal">
                                <div class="caption"></div>
                                <img src="/images/n3.jpg" class="img-responsive" />
                                <h4>Agrox</h4>
                            </div>
                        </div>
                        <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                            <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                            <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                            <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="news-grids wow fadeInLeft animated" data-wow-delay=".5s">
                        <div class="col-md-4 new-grid">
                            <div id="box" class="burst-circle teal">
                                <div class="caption"></div>
                                <img src="/images/n4.jpg" class="img-responsive" />
                                <h4>Agrox</h4>
                            </div>
                        </div>
                        <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                            <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                            <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                            <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!---news--->
            <!---Testimonials--->
            <div class="testimonials-section">
                <div class="container">
                    <h3>Testimonial</h3>
                    <div class="testimonials-grids">
                        <div class="col-md-2 testimonials-grid1 wow fadeInRight animated" data-wow-delay=".5s">
                            <img src="/images/t1.png" class="img-responsive" alt="" />
                        </div>
                        <div class="col-md-10 testimonials-grid wow fadeInLeft animated" data-wow-delay=".5s">
                            <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium.</p>
                            <h5>Antonio Brightman</h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!---Testimonials--->
        </div>*@
    <!---footer--->
    <div class="footer-section">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid wow fadeInRight animated" data-wow-delay=".5s">
                    <h4>About</h4>
                    <ul>
                        <li>Customer focus</li>
                        <li>Sed laoreet aliqu</li>
                        <li>Dapibus eget elem</li>
                        <li>Performance</li>
                        <li>Innovation</li>
                        <li>Responsibility</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid wow fadeInDownBig animated" data-wow-delay=".5s">
                    <h4>Solutions</h4>
                    <ul>
                        <li>Contact Center</li>
                        <li>Customer Support</li>
                        <li>Dapibus eget elem</li>
                        <li>Help Desk</li>
                        <li>Web Self-Service</li>
                        <li>Performance Metrics</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid wow fadeInUpBig animated" data-wow-delay=".5s">
                    <h4>Work</h4>
                    <ul>
                        <li>Customer Support</li>
                        <li>Platinum Support</li>
                        <li>Gold Support</li>
                        <li>Training</li>
                        <li>Workshops</li>
                        <li>Online Training</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid wow fadeInRight animated" data-wow-delay=".5s">
                    <h4>Contact</h4>
                    <p>9801 Marmora Road</p>
                    <p>Glasgow, DO4 98GR.</p>
                    <p>Freephone: +1 900 448 9990</p>
                    <p>Telephone: +1 459 503 7035</p>
                    <p>FAX: + 1 304 789 7898</p>
                    <a href="mailto:example@mail.com"> example@mail.com</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---footer--->
    <!--copy-->
    <div class="copy-section wow fadeInRight animated" data-wow-delay=".5s" ">
        <div class="container">
            <div class="social-icons">
                <a href="#"><i class="icon"></i></a>
                <a href="#"><i class="icon1"></i></a>
                <a href="#"><i class="icon2"></i></a>
                <a href="#"><i class="icon3"></i></a>
            </div>
            <p>&copy; 2016 Agrox. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!--copy-->

</body>
</html>