﻿<div class="content">
    <div class="welcome-section">
        <div class="container">
            <div class="banner-bottom">
                <div class="banner-grids">
                    <div class="col-md-4 banner-grid wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                        <h4>Premium Products</h4>
                        <div class="ban1">
                            <div class="ban-/images  view fourth-effect">
                                <img src="/images/b1.jpg" class="img-responsive" alt="">
                                <div class="mask"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, lorem  Consec tetuer adipicing it. Praesebul lorem ipsum.S natoque penatibus et gnis dent monteiculu.</p>
                            <a href="about.html" class="button hvr-wobble-bottom">more info</a>
                        </div>
                    </div>
                    <div class="col-md-4 banner-grid wow fadeInDownBig animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDownBig;">
                        <h4>Agricultural Seeds </h4>
                        <div class="ban1">
                            <div class="ban-/images  view fourth-effect">
                                <img src="/images/b2.jpg" class="img-responsive" alt="">
                                <div class="mask"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, lorem  Consec tetuer adipicing it. Praesebul lorem ipsum.S natoque penatibus et gnis dent monteiculu.</p>
                            <a href="about.html" class="button hvr-wobble-bottom">more info</a>
                        </div>
                    </div>
                    <div class="col-md-4 banner-grid wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <h4>Our Technologies</h4>
                        <div class="ban1">
                            <div class="ban-/images  view fourth-effect">
                                <img src="/images/b1.jpg" class="img-responsive" alt="">
                                <div class="mask"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, lorem  Consec tetuer adipicing it. Praesebul lorem ipsum.S natoque penatibus et gnis dent monteiculu.</p>
                            <a href="about.html" class="button hvr-wobble-bottom">more info</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <h2>welcome</h2>
            <div class="welcome-grids">
                <div class="col-md-3 welcome-grid wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="welcome-text">
                        <h4>Duis ultricies</h4>
                        <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                    </div>
                    <div class="welcome-icon">
                        <img src="/images/i1.png">
                    </div>
                </div>
                <div class="col-md-3 welcome-grid wow fadeInDownBig animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDownBig;">
                    <div class="welcome-text">
                        <h4>Morbi nunc </h4>
                        <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                    </div>
                    <div class="welcome-icon">
                        <img src="/images/i2.png">
                    </div>
                </div>
                <div class="col-md-3 welcome-grid wow fadeInUpBig animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUpBig;">
                    <div class="welcome-text">
                        <h4>Lorem ipsum</h4>
                        <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                    </div>
                    <div class="welcome-icon">
                        <img src="/images/i3.png">
                    </div>
                </div>
                <div class="col-md-3 welcome-grid wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                    <div class="welcome-text">
                        <h4>Fusce suscip</h4>
                        <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                    </div>
                    <div class="welcome-icon">
                        <img src="/images/i4.png">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---welcome-->
    <!---product-->
    <div class="product-section">
        <div class="container">
            <h3>Popular Products</h3>
            <div class="product-grids">
                <div class="col-md-6 product-grid wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="product-left">
                        <img src="/images/p.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="product-right">
                        <h4>Dolor Sit</h4>
                        <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                        <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 product-grid wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                    <div class="product-left">
                        <img src="/images/p1.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="product-right">
                        <h4>Consequat</h4>
                        <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                        <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product-grids">
                <div class="col-md-6 product-grid1 wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="product1-left">
                        <h4>Dolores Btrs</h4>
                        <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                        <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="product1-right">
                        <img src="/images/p2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 product-grid1 wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                    <div class="product1-left">
                        <h4>Nam aliquam</h4>
                        <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                        <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="product1-right">
                        <img src="/images/p3.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---product-->
    <!---news--->
    <div class="news-section">
        <div class="container">
            <h3>latest news</h3>
            <div class="news-grids wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                <div class="col-md-4 new-grid">
                    <div id="box" class="burst-circle teal">
                        <div class="caption"></div>
                        <img src="/images/n1.jpg" class="img-responsive">
                        <h4>Agrox</h4>
                    </div>
                </div>
                <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                    <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                    <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-grids wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                <div class="col-md-4 new-grid">
                    <div id="box" class="burst-circle teal">
                        <div class="caption"></div>
                        <img src="/images/n2.jpg" class="img-responsive">
                        <h4>Agrox</h4>
                    </div>
                </div>
                <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                    <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                    <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-grids wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                <div class="col-md-4 new-grid">
                    <div id="box" class="burst-circle teal">
                        <div class="caption"></div>
                        <img src="/images/n3.jpg" class="img-responsive">
                        <h4>Agrox</h4>
                    </div>
                </div>
                <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                    <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                    <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-grids wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                <div class="col-md-4 new-grid">
                    <div id="box" class="burst-circle teal">
                        <div class="caption"></div>
                        <img src="/images/n4.jpg" class="img-responsive">
                        <h4>Agrox</h4>
                    </div>
                </div>
                <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                    <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                    <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---news--->
    <!---Testimonials--->
    <div class="testimonials-section">
        <div class="container">
            <h3>Testimonial</h3>
            <div class="testimonials-grids">
                <div class="col-md-2 testimonials-grid1 wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                    <img src="/images/t1.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-10 testimonials-grid wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium.</p>
                    <h5>Antonio Brightman</h5>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---Testimonials--->
</div>