﻿@model Farm.WebSite.ViewModel.EventViewModel
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            // General options
            mode: "textareas",
            theme: "modern",
            // Theme options
            theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|, styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|, link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|, forecolor,backcolor,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|, styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|, visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,

            // Example content CSS (should be your site CSS)
            content_css: "css/example.css",
        });
</script>
    @using (Html.BeginForm("AddEvent", "AdminRauSach", FormMethod.Post, new { @id = "AddEvent" }))
    {
        <div class="modal-header">
            <h4 class="modal-title">Thêm Sự Kiện</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="Label">Tên</label>
                @Html.TextBoxFor(m => m.Label, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label for="Label">Mô Tả</label>
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Description">Nội Dung</label>
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @rows = "5" })
            </div>

        </div>
        @Html.TextBoxFor(m => m.files,new { @type = "file", @multiple = "multiple"})
        <div class="modal-footer">
            <button type="button" class="btn btn-default closeCategory" data-dismiss="modal ">Đóng</button>
            <button type="button" class="btn btn-primary btnAddCategory">Lưu</button>
        </div>
    }
<script src="~/Scripts/jquery.fileupload.js"></script>
    <script>
        $('.btnAddCategory').off('click').on("click", function () {
            var formData = new FormData();
            var urlf = $('#AddEvent').attr('action');
            var totalFiles = document.getElementById("files").files.length;
            var label =$('#Label').val();
            var description = $('#Description').val();
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("files").files[i];
                formData.append("files", file);
            }
            var content = tinyMCE.get('Content');
            var descriptionData = content.getContent();
            formData.append("Label", label);
            formData.append("Description", description);
            formData.append("Content", descriptionData);
            
            $.ajax({
                type: "POST",
                url: urlf,
                dataType: 'json',
                processData: false,
                contentType: false,
                data: formData,                 // Serialize the form data
                success: function (data) {                        // If 200 OK
                    ShowSuccess(data.message);
                    close_dialog();
                    Autoload($('#divEvent'));
                },
                error: function (xhr, text, error) {
                    alert("Hình lớn hơn 2mb");
                }
            });
        });

        $('#form').submit(function () {
            event.preventDefault();
            //......
        });

        function ValidateCategories() {
            
        }
    </script>