﻿@model Domain.Entity.Category
@using FarmWebViewPage = Farm.WebSite.FarmWebViewPage
@{
    Layout = FarmWebViewPage.ModalData.Layout;
    Modal.HttpMethod = "POST";
    Modal.Action = "AddCategory";
    Modal.Controller = "AdminRauSach";
    Modal.IsAjax = true;
    Modal.OnComplete = "Showsuccess";
    Title = "Thêm Loại Rau";
    Modal.ShowCancel = false;
}

<div class="form-group">
    <label for="Label">Tên</label>
    @Html.TextBoxFor(m => m.Label, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Label, "", new { @class = "text-danger"})
</div>
<div class="form-group">
    <label for="Description">Mô Tả</label>
    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
</div>

<script>
    function Showsuccess(data) {
        debugger;
        ShowSuccess(data.message);
        close_dialog();
        Autoload($('#divCategory'));
    }
</script>