﻿@model Farm.WebSite.ViewModel.ProductViewModel

@using (Html.BeginForm("AddProduct", "AdminRauSach", FormMethod.Post, new { @id = "AddProduct" }))
{
    <div class="modal-header">
        <h4 class="modal-title">Thêm Sản Phẩm</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="Label">Tên</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        @*        <div class="form-group">
                <label for="Label">Tên</label>
                @Html.TextBoxFor(m => m., new { @class = "form-control" })
            </div>*@

        <div class="form-group">
            <label for="Label">Giá</label>
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="Label">Mô Tả</label>
            @Html.TextBoxFor(m => m.Quatity, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="Description">Loại</label>
            @Html.DropDownListFor(model => model.Category, Model.Category, new { @class = "form-control", @rows = "5" })
        </div>

    </div>
        @Html.TextBoxFor(m => m.files, new { @type = "file", @multiple = "multiple" })
        <div class="modal-footer">
            <button type="button" class="btn btn-default closeProduct" data-dismiss="modal ">Đóng</button>
            <button type="button" class="btn btn-primary btnAddProduct">Lưu</button>
        </div>
}
<script src="~/Scripts/jquery.fileupload.js"></script>
<script>
    $('.btnAddProduct').off('click').on("click", function () {
        debugger;
        var formData = new FormData();
        var urlf = $('#AddProduct').attr('action');
        var totalFiles = document.getElementById("files").files.length;
        var name = $('#Name').val();
        var price = $('#Price').val();
        var quatiy = $('#Quatity').val();
        var category = $('#Category').val();
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("files").files[i];
            formData.append("files", file);
        }

        formData.append("Name", name);
        formData.append("Price", price);
        formData.append("Quatity", quatiy);
        formData.append("CategoryId", category);

        $.ajax({
            type: "POST",
            url: urlf,
            dataType: 'json',
            processData: false,
            contentType: false,
            data: formData,                 // Serialize the form data
            success: function (data) {                        // If 200 OK
                ShowSuccess(data.message);
                close_dialog();
                Autoload($('#divProduct'));
            },
            error: function (xhr, text, error) {
                debugger;// If 40x or 50x; errors
                alert("Hình lớn hơn 2mb");
            }
        });
    });

    $('#form').submit(function () {
        event.preventDefault();
        //......
    });
</script>