﻿@model IList<Domain.Entity.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css"
      href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<h2>Index</h2>
<div id="divCategory" data-autoload="@Url.Action("GetCategories","AdminRauSach")">
    
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn-success btn" id="openDialog" data-url="@Url.Action("AddCategory", "AdminRauSach")">Thêm loại rau</button>
        </div>
    </div>
</div>
<div id="dialog-edit">
</div>
<div id="dialog-view" style="display: none">
</div>  
<script>
    $(document).ready(function () {
        Autoload($('#divCategory'));
    });

    function Autoload(target) {
        var url = target.data('autoload');
        target.load(url);
    }
    $(document).on("click","#openDialog", function (e) {
        debugger;
        e.preventDefault();
        var url = $(this).data('url');

        $("#dialog-edit").dialog({

            autoOpen: false,
            resizable: false,
            height: 455,
            width: 500,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar").hide();
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog('close');
            }
        });

        $("#dialog-edit").dialog('open');
        return false;
    });

    $(document).on("click", '.closeCategory', function() {
        close_dialog();
    });

    $(document).on("click", '.close', function () {
        close_dialog();
    });
    function close_dialog() {
        //Close jQuery UI dialog 
        $("#dialog-edit").dialog('close');
        $('#form').die('click');
    }
</script>