﻿
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css"
      href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<h2>Events</h2>

<div id="divEvent" data-autoload="@Url.Action("GetEvent","AdminRauSach")">

</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn-success btn" id="openDialog" data-url="@Url.Action("AddEvent", "AdminRauSach")">Thêm sự kiện</button>
        </div>
    </div>
</div>
<div id="dialog-edit">
</div>
<div id="dialog-view" style="display: none">
</div>  

<script>
    $(document).ready(function () {
        Autoload($('#divEvent'));
    });

 
    $(document).on("click","#openDialog", function (e) {
        debugger;
        e.preventDefault();
        var url = $(this).data('url');

        $("#dialog-edit").dialog({

            autoOpen: false,
            resizable: false,
            height: 800,
            width: 700,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar").hide();
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog('close');
            }
        });

        $("#dialog-edit").dialog('open');
        return false;
    });

    $(document).on("click", '.closeCategory', function() {
        close_dialog();
    });
</script>