﻿@model IList<Domain.Entity.Category>

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap-editable.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<script src="~/Scripts/bootstrap-editable.js"></script>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr class="warning">
                <th>Number</th>
                <th>Label</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <a class="label-category" href="#" id="username12" data-type="text" data-pk="@item.Id" data-url='@Url.Action("EditCategory", "AdminRauSach")' 
                           data-title="Sửa tên loại rau">@item.Label</a></td>
                    <td>@item.Description</td>
                    <td><i class="fa fa-trash-o fa-lg deleteCategory" value="@item.Id" id="deleteCategory-@item.Id" name="@item.Id"></i></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        debugger;
        $('.label-category').editable({
            name:  'Label',
            type: 'text',
            url: '@Url.Action("EditCategory", "AdminRauSach")',
            title: 'Enter Label'
        });
    });

   
    $('.deleteCategory').click(function () {
        debugger;
        var categoryId = $(this).attr("name");
        var a = 1;
        var url = '@Url.Action("DeleteCategory", "AdminRauSach")';
        $.ajax({
            type: "POST",
            url: url,                           // Any URL
            data: {"id" : categoryId},                 // Serialize the form data
            success: function (data) {                        // If 200 OK
                ShowSuccess(data.message);
                Autoload($('#divCategory'));
            },
            error: function (xhr, text, error) {              // If 40x or 50x; errors
                alert('Error: ' + error);
            }
        });
    });
</script>
