﻿@model IList<Domain.Entity.Event>

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap-editable.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/jquery.fileupload-noscript.css" rel="stylesheet" />
<link href="~/Content/jquery.fileupload-ui-noscript.css" rel="stylesheet" />
<link href="~/Content/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-editable.js"></script>
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            // General options
            mode: "textareas",
            theme: "modern",
            // Theme options
            theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|, styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|, link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|, forecolor,backcolor,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|, styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|, visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,

            // Example content CSS (should be your site CSS)
            content_css: "css/example.css",
        });
</script>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr class="warning">
            <th>Number</th>
            <th>Label</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    <a class="label-category" href="#" id="username12" data-type="text" data-pk="@item.Id" data-url='@Url.Action("EditEvent", "AdminRauSach")'
                       data-title="Sửa tên sự kiện">@item.Label</a>
                </td>
                <td> @Html.Raw(item.Description)</td>
                <td>
                    <i class="fa fa-trash-o fa-lg deleteCategory" value="@item.Id" id="deleteCategory-@item.Id" name="@item.Id"></i>
                    
                    <a href="/Home/HomeEvent?eventId=@item.Id" class="button hvr-wobble-bottom"><span class="fa fa-info"> </span></a>
                </td>

            </tr>
        }
        </tbody>
    </table>
</div>

<script>

    $(document).ready(function () {
        debugger;
        $('.label-category').editable({
            name:  'Label',
            type: 'text',
            url: '@Url.Action("EditEvent", "AdminRauSach")',
            title: 'Enter Label'
        });
    });

    $('.deleteCategory').click(function () {
        debugger;
        var categoryId = $(this).attr("name");
        var a = 1;
        var url = '@Url.Action("DeleteEvent", "AdminRauSach")';
        $.ajax({
            type: "POST",
            url: url,                           // Any URL
            data: {"id" : categoryId},                 // Serialize the form data
            success: function (data) {                        // If 200 OK
                ShowSuccess(data.message, "success", 3000);
                Autoload($('#divEvent'));
            },
            error: function (xhr, text, error) {
                debugger;// If 40x or 50x; errors
                showErrors('Error: ' + error);
            }
        });
    });
</script>

