﻿@using Domain.Entity
@model IList<Domain.Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap-editable.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="~/Scripts/bootstrap-editable.js"></script>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr class="warning">
                <th style="text-align:center; vertical-align:middle">Image</th>
                <th style="text-align:center; vertical-align:middle">Name</th>
                <th style="text-align:center; vertical-align:middle">Price</th>
                <th style="text-align:center; vertical-align:middle">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:250px; height:250px; text-align:center; vertical-align:middle">
                    @if (item.ImageContains != null)
                    {
                        var firstOrDefault = item.ImageContains.ToList().FirstOrDefault();
                        if (firstOrDefault != null)
                        {
                            var base64 = Convert.ToBase64String(firstOrDefault.Image);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            @:<img src="@imgSrc" class="img-responsive" alt="" />
                        }
                    }</td>
                    <td style="text-align:center; vertical-align:middle">
                        <a class="label-name" href="#" data-type="text" data-pk="@item.Id" data-url='@Url.Action("EditProduct", "AdminRauSach")'
                           data-title="Sửa tên loại rau">@item.Name</a>
                    </td>
                    <td style="text-align:center; vertical-align:middle">
                        <a class="label-price" href="#" data-type="text" data-pk="@item.Id" data-url='@Url.Action("EditProduct", "AdminRauSach")'
                           data-title="Sửa Giá Tiền">@item.Price</a>
                    </td>
                    <td style="text-align:center; vertical-align:middle"><i class="fa fa-trash-o fa-lg deleteCategory" value="@item.Id" id="deleteCategory-@item.Id" name="@item.Id"></i></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('.label-name').editable({
            name: 'Name',
            type: 'text',
            url: '@Url.Action("EditProduct", "AdminRauSach")',
            title: 'Enter Name',
            success: function (response, newValue) {
                ShowSuccess("Sửa Thành Công");
            }
        });

        $('.label-price').editable({
            name: 'Price',
            type: 'text',
            url: '@Url.Action("EditProduct", "AdminRauSach")',
            title: 'Enter Price',
            success: function (response, newValue) {
                ShowSuccess("Sửa Thành Công");
            }
        });
    });


    $('.deleteCategory').click(function () {
        debugger;
        var productId = $(this).attr("name");
        var url = '@Url.Action("DeleteProduct", "AdminRauSach")';
        $.ajax({
            type: "POST",
            url: url,                           // Any URL
            data: { "id": productId },                 // Serialize the form data
            success: function (data) {                        // If 200 OK
                ShowSuccess(data.message);
                Autoload($('#divProduct'));
            },
            error: function (xhr, text, error) {              // If 40x or 50x; errors
                showErrors('Error: ' + error);
            }
        });
    });
</script>
