﻿
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css"
      href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<h2>Product</h2>
<div id="divProduct" data-autoload="@Url.Action("GetProduct","AdminRauSach")">

</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn-success btn" id="openDialog" data-url="@Url.Action("AddProduct", "AdminRauSach")">Thêm Sản Phẩm</button>
        </div>
    </div>
</div>
<div id="dialog-edit">
</div>
<div id="dialog-view" style="display: none">
</div>

<script>
    $(document).ready(function () {
        Autoload($('#divProduct'));
    });

    function Autoload(target) {
        var url = target.data('autoload');
        target.load(url);
    }
    $(document).on("click","#openDialog", function (e) {
        debugger;
        e.preventDefault();
        var url = $(this).data('url');
        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 600,
            width: 500,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar").hide();
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog('close');
            }
        });

        $("#dialog-edit").dialog('open');
        return false;
    });

    $(document).on("click", '.closeProduct', function() {
        close_dialog();
    });

    $(document).on("click", '.close', function () {
        close_dialog();
    });
</script>  
