﻿@model IEnumerable<Domain.Entity.ImageContain>

@using (Html.BeginForm("Test", "AdminRauSach", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()

    foreach (var item in Model)
    {
        if (item.Image != null)
        {
            var base64 = Convert.ToBase64String(item.Image);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <img src="@imgSrc" style="max-height:250px" />
        }
    }
    <div class="form-field">
        <input type="file" name="images" multiple="multiple" />
        <input type="file" name="image2" />
        <input type="file" name="image3" />
    </div>

            <div class="form-field">
                <input type="submit" value="Create" />
            </div>
}