﻿@model Domain.Entity.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="graphs">
    <h3 class="blank1">Add Category</h3>
    <div class="tab-content">
        <div class="tab-pane active" id="horizontal-form">
            @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label for="Label" class="col-sm-2 control-label">Label</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Label, new { @class = "form-control1" })
                        @Html.ValidationMessageFor(model => model.Label)
                        @*<input type="text" class="form-control1" id="Label" placeholder="Default Input">*@
                    </div>
                </div>

                <div class="form-group">
                    <label for="Description" class="col-sm-2 control-label">Focused Input</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control1" })
                        @Html.ValidationMessageFor(model => model.Description)
                        @*<input type="text" class="form-control1" id="Description" placeholder="Default Input">*@
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button type="submit" class="btn-success btn">Submit</button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <script>
        $(document).ready(function () {

        });
    </script>
</div>