﻿@model IList<Domain.Entity.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-body no-padding">
        <table class="table table-striped">
            <thead>
            <tr class="warning">
                <th>Number</th>
                <th>Label</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @{ var number = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@number</td>
                    <td>@item.Label</td>
                    <td>@item.Description</td>
                    <td><i class="fa fa-trash-o fa-lg"></i></td>
                </tr>
                number = number + 1;
            }

            </tbody>
        </table>
    </div>
</div>

<div class="panel-footer">
    <div class="row" data-url ="@Url.Action("AddCategory","Category")">
        <div class="col-sm-8">
            <button type="submit" class="btn-success btn">Submit</button>
        </div>
    </div>
</div>