﻿@model Domain.Entity.Event
@{
    ViewBag.Title = "HomeEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .crop {
        line-height: 1.5em; /* Sets line height to 1.5 times text size */
        height: 100%; /* Sets the div height to 2x line-height (3 times text size) */
        width: 100%; /* Use whatever width you want */
        white-space: normal; /* Wrap lines of text */
       
        text-overflow: ellipsis; /* Ellipses (cross-browser) */
        -o-text-overflow: ellipsis; /* Ellipses (cross-browser) */
    }
</style>
<div class="news-section">
    <div class="container">
        <h3>@Html.Raw(Model.Description)</h3>
        <div class="news-grids wow fadeInRight animated" data-wow-delay=".5s">
            <div class="col-md-12 new-grid1 hvr-bounce-to-right " >
                <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> @Model.CreateDate.Value.ToShortDateString() </h5>
                <p>@Html.Raw(Model.Content)</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="news-grids wow fadeInLeft animated" data-wow-delay=".5s">
            @foreach (var image in Model.ImageContains)
            {
                if (image != null)
                {
                    var base64 = Convert.ToBase64String(image.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                  @*  <img src="@imgSrc" class="img-responsive" alt=""/>
                    <div class="mask"></div>*@

                    <div class="col-md-4 new-grid">
                        <div id="box" class="burst-circle teal">
                            <div class="caption"></div>
                            <img src="@imgSrc" style="height: 200px" class="img-responsive"/>
                            <h4>Agrox</h4>
                        </div>
                    </div>
                }
            }
          @*  <div class="col-md-4 new-grid">
                <div id="box" class="burst-circle teal">
                    <div class="caption"></div>
                    <img src="/images/n2.jpg" class="img-responsive"/>
                    <h4>Agrox</h4>
                </div>
            </div>
            <div class="col-md-4 new-grid">
                <div id="box" class="burst-circle teal">
                    <div class="caption"></div>
                    <img src="/images/n2.jpg" class="img-responsive"/>
                    <h4>Agrox</h4>
                </div>
            </div>
            <div class="col-md-4 new-grid">
                <div id="box" class="burst-circle teal">
                    <div class="caption"></div>
                    <img src="/images/n2.jpg" class="img-responsive"/>
                    <h4>Agrox</h4>
                </div>
            </div>*@
            <div class="clearfix"></div>
        </div>
    </div>
</div>

