﻿
@model Farm.WebSite.ViewModel.IndexHomeViewModel
<style type="text/css">
    .crop {
        line-height: 1.5em; /* Sets line height to 1.5 times text size */
        height: 5em; /* Sets the div height to 2x line-height (3 times text size) */
        width: 100%; /* Use whatever width you want */
        white-space: normal; /* Wrap lines of text */
        overflow: hidden; /* Hide text that goes beyond the boundaries of the div */
        text-overflow: ellipsis; /* Ellipses (cross-browser) */
        -o-text-overflow: ellipsis; /* Ellipses (cross-browser) */
    }
</style>
<link href="~/Content/Admin/bootstrap-social.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=193942571101263";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
@section userlogin {
    @{
        var email = Session["email"] as string;}
    @if (!string.IsNullOrEmpty(email))
    {
        <h4 style="color: #17c2a4">Welcome @email <a class="btn" href="/Home/LogoutFaceBook"><i class="fa fa-sign-out fa-2x"></i></a></h4>
    }
    else
    {
        <a class="btn btn-facebook" href="/Home/LoginFaceBook"> <i class="fa fa-facebook"></i> Login With Facebook</a>
    }
    <br/>
    
    
    <div class="fb-like" data-href="http://www.giorauvuonnha.somee.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" style="margin-top: 10px"></div>
}
<div class="content">
    <div class="welcome-section">
        <div class="container">
            <div class="banner-bottom">
                <div class="banner-grids">
                    @foreach (var item in Model.Events)
                    {
                        <div class="col-md-4 banner-grid wow fadeInLeft animated" data-wow-delay=".5s">
                            <h4>@item.Label</h4>
                            <div class="ban1" style="height: 300px; max-height: 300px; word-wrap: break-word;">
                                <div class="ban-images  view fourth-effect">
                                    @if (item.ImageContains.LastOrDefault() != null)
                                    {
                                        var base64 = Convert.ToBase64String(item.ImageContains.LastOrDefault().Image);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <img src="@imgSrc" class="img-responsive" alt="" />
                                        <div class="mask"></div>
                                    }@* <img src="/images/bap cai 1.jpg" class="img-responsive" alt=""/>*@<p>
                                    <p></p>
                                    </p>
                                </div>
                                <div class="crop" style="width: 300px; max-width: 300px;">@Html.Raw(item.Description) </div>
                                <a href="/Home/HomeEvent?eventId=@item.Id" class="button hvr-wobble-bottom">more info</a>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
            <br />
            <br /><br />
            <h2>welcome</h2>
            <div class="welcome-grids">
                <div class="col-md-3 welcome-grid wow fadeInLeft animated" data-wow-delay=".5s">
                    <div class="welcome-text">
                        <h4>Duis ultricies</h4>
                        <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                    </div>
                    <div class="welcome-icon">
                        <img src="/images/i1.png">
                    </div>
                </div>
                <div class="col-md-3 welcome-grid wow fadeInDownBig animated" data-wow-delay=".5s">
                    <div class="welcome-text">
                        <h4>Morbi nunc </h4>
                        <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                    </div>
                    <div class="welcome-icon">
                        <img src="/images/i2.png">
                    </div>
                </div>
                <div class="col-md-3 welcome-grid wow fadeInUpBig animated" data-wow-delay=".5s">
                    <div class="welcome-text">
                        <h4>Lorem ipsum</h4>
                        <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                    </div>
                    <div class="welcome-icon">
                        <img src="/images/i3.png">
                    </div>
                </div>
                <div class="col-md-3 welcome-grid wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="welcome-text">
                        <h4>Fusce suscip</h4>
                        <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremqueexplicabo.</p>
                    </div>
                    <div class="welcome-icon">
                        <img src="/images/i4.png">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---welcome-->
    <!---product-->
    <div class="product-section">
        <div class="container">
            <h3>Popular Products</h3>
            <div class="product-grids">
                <div class="col-md-6 product-grid wow fadeInLeft animated" data-wow-delay=".5s">
                    <div class="product-left">
                        <img src="/images/bó xôi 1-R1.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="product-right">
                        <h4>Dolor Sit</h4>
                        <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                        <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 product-grid wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="product-left">
                        <img src="/images/cai thao 1.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="product-right">
                        <h4>Consequat</h4>
                        <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                        <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product-grids">
                <div class="col-md-6 product-grid1 wow fadeInLeft animated" data-wow-delay=".5s">
                    <div class="product1-left">
                        <h4>Dolores Btrs</h4>
                        <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                        <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="product1-right">
                        <img src="/images/bap cai 1.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 product-grid1 wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="product1-left">
                        <h4>Nam aliquam</h4>
                        <p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
                        <a href="gallery.html"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="product1-right">
                        <img src="/images/dua le baby 1.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---product-->
    <!---news--->
    <div class="news-section">
        <div class="container">
            <h3>latest news</h3>
            <div class="news-grids wow fadeInRight animated" data-wow-delay=".5s">
                <div class="col-md-4 new-grid">
                    <div id="box" class="burst-circle teal">
                        <div class="caption"></div>
                        <img src="/images/n1.jpg" class="img-responsive" />
                        <h4>Agrox</h4>
                    </div>
                </div>
                <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                    <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                    <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-grids wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="col-md-4 new-grid">
                    <div id="box" class="burst-circle teal">
                        <div class="caption"></div>
                        <img src="/images/n2.jpg" class="img-responsive" />
                        <h4>Agrox</h4>
                    </div>
                </div>
                <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                    <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                    <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-grids wow fadeInRight animated" data-wow-delay=".5s">
                <div class="col-md-4 new-grid">
                    <div id="box" class="burst-circle teal">
                        <div class="caption"></div>
                        <img src="/images/n3.jpg" class="img-responsive" />
                        <h4>Agrox</h4>
                    </div>
                </div>
                <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                    <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                    <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-grids wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="col-md-4 new-grid">
                    <div id="box" class="burst-circle teal">
                        <div class="caption"></div>
                        <img src="/images/n4.jpg" class="img-responsive" />
                        <h4>Agrox</h4>
                    </div>
                </div>
                <div class="col-md-8 new-grid1 hvr-bounce-to-right">
                    <h5><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> 25 November 2015 </h5>
                    <h4>Fusce euismod consequat ante Lorem ipsum dolor sit amet</h4>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---news--->
    <!---Testimonials--->
    <div class="testimonials-section">
        <div class="container">
            <h3>Testimonial</h3>
            <div class="testimonials-grids">
                <div class="col-md-2 testimonials-grid1 wow fadeInRight animated" data-wow-delay=".5s">
                    <img src="/images/t1.png" class="img-responsive" alt="" />
                </div>
                <div class="col-md-10 testimonials-grid wow fadeInLeft animated" data-wow-delay=".5s">
                    <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium.</p>
                    <h5>Antonio Brightman</h5>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---Testimonials--->
</div>